<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <% if(content == "index") { %>
      <%- include('./partials/burbujas/burbujas'); -%>
    <% } %>

    <% if(content == "login") { %>
      <%- include('./partials/login/login'); -%>
    <% } %>

    <% if(content == "dash") { %>
      <%- include('./partials/dash/dash'); -%>
    <% } %>
  </body>
</html>
