<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>
                        <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                        <div class="dorne-signin-btn">
                            <a href="/logout">Salir</a>
                        </div>
                    </div>                            
                    </nav>
                </div>
            </div>
        </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50" style="background-image: url(img/bg-img/hero-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Eventos</h4>
                    <p>Estos son los eventos que hay cerca de ti.</p>
                </div>
                <div class="section-heading text-center">
                    <h4>Gastronomia</h4>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-12">
                        <div class="features-slides owl-carousel">
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-1.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>1</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Ibiza</h5>
                                        <p>Party</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-2.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>2</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Paris</h5>
                                        <p>Luxury</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-3.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>3</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Lake Como</h5>
                                        <p>Spectacular</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-4.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>4</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Greece</h5>
                                        <p>Sunny</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-5.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>5</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Norway</h5>
                                        <p>All Year round</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
<!-- ***** Features Events Area End ***** -->

<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50" style="background-image: url(img/bg-img/hero-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h4>Cultura</h4>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-12">
                        <div class="features-slides owl-carousel">
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-1.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>1</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Ibiza</h5>
                                        <p>Party</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-2.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>2</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Paris</h5>
                                        <p>Luxury</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-3.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>3</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Lake Como</h5>
                                        <p>Spectacular</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-4.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>4</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Greece</h5>
                                        <p>Sunny</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Features Area -->
                            <div class="single-features-area">
                                <img src="/img/bg-img/feature-5.jpg" alt="">
                                <!-- Price -->
                                <div class="price-start">
                                    <p>5</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>Norway</h5>
                                        <p>All Year round</p>
                                    </div>
                                    <div class="feature-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
<!-- ***** Features Events Area End ***** -->
