<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>
                        <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                            <div class="dorne-signin-btn">
                                    <a href="/logout">Salir</a>
                                </div>
                    </div>                            
                    </nav>
                </div>
            </div>
        </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Features Destinations Area Start ***** -->
<section class="dorne-features-destinations-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h4>Menú</h4>
                        <p>Escoge alguno</p>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-12 col-lg-6">
                            <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="feature-events-thumb">
                                    <img src="/img/bg-img/event-1.jpg" alt="">                                    
                                </div>
                                <div class="feature-events-content">
                                    <h5>Ruta</h5>
                                    <h6>Generar ruta personalizada</h6>
                                    <p>Estas listo para conocer todas la ruta relacionada con tus gustos.</p>
                                </div>
                                <div class="feature-events-details-btn">
                                    <a href="/ruta">></a>
                                </div>
                            </div>
                    </div>

                    <div class="col-12 col-lg-6">
                            <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.3s">
                                <div class="feature-events-thumb">
                                    <img src="/img/bg-img/event-2.jpg" alt="">
                                </div>
                                <div class="feature-events-content">
                                    <h5>Eventos</h5>
                                    <h6>Lista de eventos actuales.</h6>
                                    <p>Conocer todos los eventos cercanos a ti, ahora mismo.</p>
                                </div>
                                <div class="feature-events-details-btn">
                                    <a href="/eventos">></a>
                                </div>
                            </div>
                    </div>
            </div>

        </div>
    </section>
    <!-- ***** Features Destinations Area End ***** -->