<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JALO</title>
    <link rel="icon" href="/img/imagenes/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/Styles/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/Styles/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/Styles/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/css/Styles/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/Styles/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/Styles/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/Styles/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/Styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container-fluid encavezado">
            <div class="row align-items-center">
                <div class="col-lg-8 col-xl-8">
                    <nav class="navbar navbar-expand-lg ">
                        <a class="navbar-brand" href="/" > <img width="250" height="130" src="/img/imagenes/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#nosotros">Acerca de: </a>
                                </li>

                                <li class="nav-item active">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button"
                                            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Contacto
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <h6 class="dropdown-item"><i class="fas fa-mobile-alt"></i> 33229177
                                            </h6>
                                            <h6 class="dropdown-item"><i class="fas fa-map-marker-alt"></i> Ciudad
                                                creativa digital</h6>
                                        </div>
                                    </div>
                        </div>
                        </li>
                        </ul>
                </div>
                </nav>
            </div>
        </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <div>
                                <h3>
                                    JALO en una aplicacion de guia turistica y a su vez una red
                                    social para conectar con otros turistas.
                                </h3>
                                <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6">
                                        <a href="/burbujas" class="btn_2">Leer mas</a>
                                    </div>
                            </div>
                            <div class="hero-app-1 custom-animation"><img src="/img/imagenes/animate_icon/icon_1.png" alt="">
                            </div>
                            <div class="hero-app-2 custom-animation2"><img src="/img/imagenes/animate_icon/icon_2.png" alt="">
                            </div>
                            <div class="hero-app-5 custom-animation4"><img src="/img/imagenes/animate_icon/icon_5.png" alt="">
                            </div>
                            <div class="hero-app-7 custom-animation2"><img src="/img/imagenes/animate_icon/icon_7.png" alt="">
                            </div>
                            <div class="hero-app-8 custom-animation"><img src="/img/imagenes/animate_icon/icon_8.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    <!-- about part start-->
    <section class="about_part" id="nosotros">
        <div class="container">
            <div class="row align-items-center justify-content-end">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="about_img">
                        <img src="/img/imagenes/jalo_ix.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6">
                    <div class="about_text">
                        <h2>SOMOS</h2>
                        <h4>Una plataforma confiable que te brindará un plan de ruta
                            de acuerdo a tus gustos, haciendo un viaje personalizado en la zona metropolitana de
                            Guadalajara.</h4>

                        <a href="/login" class="btn_2">Registrate</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-app-7 custom-animation"><img src="/img/imagenes/animate_icon/icon_1.png" alt=""></div>
        <div class="hero-app-8 custom-animation2"><img src="/img/imagenes/animate_icon/icon_2.png" alt=""></div>
        <div class="hero-app-6 custom-animation3"><img src="/img/imagenes/animate_icon/icon_3.png" alt=""></div>
    </section>
    <!-- about part start-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/js/Scripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/Scripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/Scripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/Scripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/Scripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/Scripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/js/Scripts/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="/js/Scripts/slick.min.js"></script>
    <!-- custom js -->
    <script src="/js/Scripts/custom.js"></script>



</body>

</html>