<form action="/google"
    method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-danger btn-lg btn-block"><span class="icon-google"></span> Entra con Google</button> 
</form>